---
import CalendarIcon from "./icons/CalendarIcon.astro";
import CompanyIcon from "./icons/CompanyIcon.astro";
import LinkInline from "./LinkInline.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-sky-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-400"
    >
      <CalendarIcon class="size-4 text-black/80 dark:text-gray-800" />
    </span>

    <h3
      class="flex items-center mb-1 text-lg font-semibold text-sky-800 dark:text-white"
    >
      {title}
      <span
        class="bg-blue-100 text-sky-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-yellow-400 dark:text-slate-950 ms-3"
        >Último</span
      >
    </h3>

    <span
      class="block mb-2 text-lg font-semibold leading-none text-gray-600 dark:text-gray-400"
    >
      {company}
    </span>

    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
      >{date}</time
    >
    <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-300">
      {description}
    </p>
    {
      link && (
        <LinkInline href={link}>
          Saber mas... <CompanyIcon />
        </LinkInline>
      )
    }
  </li>
</ol>
